<h1> Welcome to the index page fam </h1>

<p> i might say login but you know better :) </p>

<li> <a href="/signup"> SIGNUP </a> </li>
<li> <a href="/signin"> SIGNIN </a> </li>
<li> <a href="/logout"> logout </a> </li>
