<form  action="/signin" method="post">

  <input type = "text" name= "username" placeholder="add username">
  <input type="text" name="password" placeholder="password please">
  <button>Submit</button>

</form>
